body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    transition: color .1s linear;
}

a:hover {
    color: #a3bfd6;    
}

.dn {
    display: none;
}

/* Container */

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */

.header,
.footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #a3bfd6;
}

.header__inner {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;
}

/* Section */ 
.section {
    padding-top: 30px;
}

.section:last-child {
    padding-bottom: 30px;
}

.section__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.section__title {
    width: 33%;
    text-transform: uppercase;
}   

.section__item {
    width: 66%;
}

.section__title, 
.section__item {
    border-top: 3px solid #a3bfd6;
    margin: 0 -50px;
    padding-top: 20px;
}

.section__list {
    list-style-type: none;
}

.section-contacts {
    margin: auto 100px;
}

/* Contacts */

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
}

.contacts__item {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0 -50px;
}

/* Skills */

.courses__link {
    text-transform: uppercase;
}

/* Example */

.example__description-list {
    padding-left: 40px;
}

/* Footer */

.footer__item {
    font-size: 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px) {
    /* Contacts */

    .contacts {
        margin: 0;
    }

    .contacts__item {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 700px) {

    /* Container */

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* Section */

    .section__inner {
        flex-direction: column;
    }

    .section__title,
    .section__item {
        margin: 0;
        width: 100%;
    }

    .section__title {
        border-top: none;
        padding-top: 40px;
        padding-bottom: 30px;
        text-align: center;
    }

    /* Footer */
    .footer__inner {
        display: flex;
        justify-content: space-around;
    }
    
}

@media (max-width: 575px) {
    /* Section */

    .section-contacts {
        margin: auto 50px;
    }

    /* Example */

    .example__code {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    /* Section */

    .section__inner {
        margin-right: 5px;
        margin-left: 5px;
    }

    .section-contacts {
        margin: auto 10px;
    }
}